* {
    border: none;
    font-family: BlexMono Nerd Font;
    font-size: 10pt;
    /* border-radius: 20px; */
}

window {
	/*font-weight: bold;*/
}
window#waybar {
    background: transparent;
}
/*-----module groups----*/
.modules-right {
	background: rgba(8,8,8,0.01);
	/* background: transparent; */
	border-radius: 12px;
	padding: 0 4px;
}
.modules-center {
	background: rgba(8,8,8,0.01);
	/* background: transparent; */
	border-radius: 12px;
	padding: 0 6px;
}
.modules-left {
	background: rgba(8,8,8,0.01);
	/* background: transparent; */
	border-radius: 12px;
	padding: 0 4px;
}

tooltip {
	background: #080808;
	border-radius: 12px;
}

#workspaces {
}

/*-----modules indv----*/
#workspaces button {
	font-size: 4px;
	border-radius: 12px;
}

#workspaces button:hover {
	color: #80a0ff;
}

#workspaces button.urgent {
	color: #ff5454;
	border: #ff5454;
    font-weight: bold;
}

#workspaces button.active {
    font-weight: bold;
	background: #80a0ff;
	color: #080808;
}

#clock {
	font-weight: bold;
	font-size: 11pt;
}

#custom-sep_r {
	padding: 0 6px;
}


#mode {
    color: #cc3436;
    font-weight: bold;
}

#custom-sep_l {
	padding: 0 10pt;
}

#custom-spc_l {
	padding: 0 1px;
}
#custom-spc_r {
	padding: 0 2px;
}

#custom-hostname {
	padding: 0px 10px;
	background: #80a0ff;
	color: #080808;
	font-weight: bold;
}

/*-----Indicators----*/
#network.disconnected {
	color: #ff5454;
	font-weight: bold;
}
#network.disabled {
	color: #e3c78a;
	font-weight: bold;
}
#idle_inhibitor.activated {
    color: #2dcc36;
}
#pulseaudio.muted {
    color: #e3c78a;
	font-weight: bold;
}
#battery.charging {
    color: #8cc85f;
	font-weight: bold;
}
#battery.critical:not(.charging) {
    color: #ff5454;
	font-weight: bold;
}
#battery.warning:not(.charging) {
	color: #e3c78a;
	font-weight: bold;
}
#temperature.critical {
    color: #ff5454;
	font-weight: bold;
}
