* {
    border: none;
    font-family: BlexMono Nerd Font;
    font-size: 10pt;
    /* border-radius: 20px; */
}

window {
	/*font-weight: bold;*/
}
window#waybar {
    background: rgba(8, 8, 8, .7);
    /* background: @theme_base_color; */
    /* border-bottom: 1px solid @unfocused_borders; */
    /* color: @theme_text_color; */
    /* background: transparent; */
}
/*-----module groups----*/
.modules-right {
	background: rgba(128,160,255,0.2);
	/* background: @theme_base_color; */
    /* background: transparent; */
    margin: 0 -12px 0 0;
    border-radius: 12px;
    padding: 0px 10px;
}
.modules-center {
	background: rgba(128,160,255,0.2);
	/* background: @theme_base_color; */
    /* background: transparent; */
    margin: 0 0 0 0;
    border-radius: 12px;
}
.modules-left {
	background: rgba(128,160,255,0.2);
	/* background: @theme_base_color; */
    /* background: transparent; */
    margin: 0 0 0 -12px;
    border-radius: 12px;
    padding: 0px 0px;
}

tooltip {
  background: #080808;
  color: #eeeeee;
  border-radius: 10;
}

#workspaces {
	padding: 0 12px;
}

/*-----modules indv----*/
#workspaces button {
    padding: 0px 5px;
    background: transparent;
    border-radius: 12px;
    font-weight: bold;
    color: #b2b2b2;
}
#workspaces button:hover {
    box-shadow: inherit;
	background: #79dac8;
	color: #080808;
}

#workspaces button.focused {
	background: #80a0ff;
	color: #080808;
}

#workspaces button.active {
	background: #80a0ff;
	color: #080808;
}

#clock {
	font-weight: bold;
	color: #eeeeee;
}

#tray {
	margin: 0 0 0 -15px;
	padding: 0 15px;
}

#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#mode,
#custom-power,
#custom-menu,
#custom-notification,
#backlight,
#idle_inhibitor {
    padding: 0 5px;
    font-weight: normal;
    color: #eeeeee;
}

#mode {
    color: #cc3436;
    font-weight: bold;
}

#custom-sep {
	color: #a0a0a0;
}

/*-----Indicators----*/
#network.disconnected {
	color: #ff5454;
}
#network.disabled {
	color: #e3c78a;
}
#idle_inhibitor.activated {
    color: #2dcc36;
}
#pulseaudio.muted {
    color: #e3c78a;
}
#battery.charging {
    color: #8cc85f;
}
#battery.warning:not(.charging) {
	color: #e3c78a;
}
#battery.critical:not(.charging) {
    color: #ff5454;
}
#temperature.critical {
    color: #ff5454;
}
