@define-color bg         #161616;
@define-color fg         #f2f4f8;
@define-color fgbr       #f9fbff;
@define-color black      #282828;
@define-color red        #ee5396;
@define-color green      #25be6a;
@define-color yellow     #08bdba;
@define-color blue       #78a9ff;
@define-color purple     #be95ff;
@define-color cyan       #33b1ff;
@define-color white      #dfdfe0;
@define-color blackbr    #484848;
@define-color redbr      #f16da6;
@define-color greenbr    #46c880;
@define-color yellowbr   #2dc7c4;
@define-color bluebr     #8cb6ff;
@define-color purplebr   #c8a5ff;
@define-color cyanbr     #52bdff;
@define-color whitebr    #e3e4e5;

* {
	font-family: BlexSans Nerd Font;
}

box, menubar, button {
	border-radius: 12px;
}

.background {
	background: rgba(12, 12, 12, .75);
}

#bar {
	padding: 4px 0px;
}

#bar #start {
	margin-left: 12px;
}

#bar #end {
	margin-right: 12px;
}

.workspaces .item {
	border-radius: 12px;
	padding: 4px 0px;
}

.workspaces .item.focused {
    font-weight: bold;
	background-color: @blue;
	color: @bg;
}

.tray {
	/* box-shadow: none; */
	padding: 0px 12px;
	background-color: transparent;
	margin-left: 12px;
}

.widget {
	padding: 0px 0px;
}

.notifications .count {
	font-size: 0.7rem;
	padding: 0px 0px;
	background-color: @red;
	color: @bg;
	border-radius: 12px;
	margin-right: 8px;
	margin-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.focused,
.upower,
.sysinfo,
.volume,
.clock {
	padding: 0px 12px;
	font-weight: normal;
}

.popup {
	background: rgba(12, 12, 12, .75);
	padding: 12px 12px;
	border-radius: 12px;
}
