/* Window behind control center and on all other monitors */
.blank-window {
	background: transparent;
}

.floating-notifications {
	background: transparent;
}

.notification {
	outline: none;
	box-shadow: none;
	transition: all 200ms ease;
	margin: 12px 12px;
}

.control-center {
	background: rgba(12, 12, 12, 0.75);
	border-radius: 12px;
	padding: 8px;
}
