@define-color blue #78a9ff;
@define-color red #ee5396;
@define-color green #25be6a;
@define-color magenta #be95ff;
@define-color bg #161616;
@define-color fg #f2f4f8;
@define-color fgbr #f9fbff;
@define-color fgdim #b6b8bb;
@define-color footer #353535;
@define-color black #282828;
@define-color blackbr #484848;
@define-color blackdim #222222;
@define-color selbg #2a2a2a;
@define-color selfg #f2f4f8;

@define-color cc-bg rgba(22, 22, 22, 0.75);

@define-color text-color #f2f4f8;
@define-color bg-selected #78a9ff;
@define-color noti-bg #282828;
@define-color noti-bg-opaque #282828;
@define-color noti-bg-hover #353535;
@define-color noti-bg-hover-opaque #353535;
@define-color noti-bg-focus #282828;
@define-color text-color-disabled #b6b8bb;
@define-color bg-selected #33b1ff;

* {
	font-family: BlexSans Nerd Font;
}

.notification-row .notification-background .notification {
	/* The actual notification */
	border: 1px solid @blackbr;
	box-shadow: none;
}

.notification-row .notification-background .notification.critical {
	border: 1px solid @red;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
	/* Notification summary/title */
	padding: 6px 12px;
}

.widget-dnd > switch:checked {
	background: @blue;
}

.control-center {
	border: 1px solid @black;
}

.widget-mpris-player {
	border: 1px solid @blackbr;
	box-shadow: none;
}
