@define-color fgbr rgb(238, 238, 238);
@define-color fg rgb(178, 178, 178);
@define-color blk rgb(50, 52, 55);
@define-color blkbr rgb(100, 100, 100);
@define-color background rgb(8, 8, 8);
@define-color background-alpha rgba(8, 8, 8, 0.75);
@define-color accent rgb(128, 160, 255);
@define-color red rgb(255, 84, 84);
@define-color yellow rgb(227, 199, 138);
@define-color green rgb(140, 200, 95);
@define-color current-line rgba(8, 8, 8, 0.75);
@define-color comment rgb(98, 114, 164);

.notification-row {
	outline: none;
	margin-bottom: 4px;
	margin-right: 12px;
	margin-top: 8px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
	box-shadow: none;
	background: transparent;
}

.notification-row:focus .notification {
	box-shadow: none;
	background: @blkbr;
}
.notification-row:hover .notification {
	box-shadow: none;
}

.control-center .notification {
	box-shadow: none;
	background: @blk;
}

.control-center .notification-row {
	margin: 4px;
}

.notification {
	outline: none;
	box-shadow: none;
	transition: all 200ms ease;
	border-radius: 12px;
	margin: 4px 0px 0px 0px;
	padding: 0;
}

.close-button {
	background: @blk;
	color: @fgbr;
	text-shadow: none;
	padding: 0;
	border-radius: 100%;
	margin-top: 17px;
	margin-right: 10px;
	box-shadow: none;
	border: none;
	min-width: 24px;
	min-height: 24px;
}

.close-button:hover {
	box-shadow: none;
	background: @comment;
	transition: all 0.15s ease-in-out;
	border: none;
}

.notification-default-action,
.notification-action {
	outline: none;
	box-shadow: none;
	padding: 4px;
	margin: 0;
	background: @current-line;
	border: 2px solid @accent;
	color: @fgbr;
}

.notification-default-action:hover,
.notification-action:hover {
	-gtk-icon-effect: none;
	background: @current-line;
}

.notification-default-action {
	border-radius: 8px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.notification-action {
	border-radius: 0px;
	border-top: none;
	border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
	border-bottom-left-radius: 8px;
}

.notification-action:last-child {
	border-bottom-right-radius: 8px;
	border-right: 1px solid @accent;
}

.image {
}

.body-image {
	margin-top: 6px;
	background-color: @fgbr;
	border-radius: 8px;
}

.summary {
	font-size: 16px;
	font-weight: bold;
	background: transparent;
	color: @fgbr;
	text-shadow: none;
}

.time {
	font-size: 16px;
	font-weight: bold;
	background: transparent;
	color: @fgbr;
	text-shadow: none;
	margin-right: 18px;
}

.body {
	font-size: 15px;
	font-weight: normal;
	background: transparent;
	color: @fgbr;
	text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
	color: @fgbr;
	text-shadow: none;
}

.control-center-clear-all {
	color: @fgbr;
	text-shadow: none;
	background: @blk;
	border: 1px solid @fg;
	box-shadow: none;
	border-radius: 8px;
}

.control-center-clear-all:hover {
	background: @comment;
}

.control-center-dnd {
	border-radius: 8px;
	background: @background;
	border: 1px solid @fg;
	box-shadow: none;
}

.control-center-dnd:checked {
	background: @accent;
}

.control-center-dnd slider {
	background: @blk;
	border-radius: 8px;
}

.control-center {
	background: @background-alpha;
	border-radius: 12px;
	background-clip: border-box;
	padding: 4px;
	box-shadow: none;
	color: @fgbr;
	border: 2px solid @accent;
}

.control-center-list {
	background: transparent;
}

.floating-notifications {
	background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
	background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
	margin: 8px;
	font-size: 1.5rem;
}
.widget-title > button {
	font-size: initial;
	color: @fgbr;
	text-shadow: none;
	background: @blk;
	border: 1px solid @fg;
	box-shadow: none;
	border-radius: 8px;
}
.widget-title > button:hover {
	background: @comment;
}

/* DND widget */
.widget-dnd {
	margin: 8px;
	font-size: 1.1rem;
}
.widget-dnd > switch {
	font-size: initial;
	border-radius: 8px;
	background: @background;
	border: 1px solid @fg;
	box-shadow: none;
}
.widget-dnd > switch:checked {
	background: @accent;
}
.widget-dnd > switch slider {
	background: @fgbr;
	border-radius: 8px;
	/* border: 1px solid @fg; */
}

/* Label widget */
.widget-label {
	margin: 8px;
}
.widget-label > label {
	font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
/* The parent to all players */
}
.widget-mpris-player {
	padding: 8px;
	margin: 8px;
	background: @blk;
	border-radius: 8px;
	border: 1px solid @fg;
	color: @fgbr;
}
.widget-mpris-title {
	font-weight: bold;
	font-size: 1.25rem;
}
.widget-mpris-subtitle {
	font-size: 1.1rem;
}
